
<h3><fa-icon [icon]="faCartShopping"></fa-icon> Cart</h3>

<div>Count: {{ shop.order.items?.length }}</div>
<div class="cart-block">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Brand</th>
        <th>Category</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of shop.order.items">
        <td>
          <img
            src="{{ p.pictureUrl }}"
            class="img-fluid product-thumb"
            alt="{{ p.brand }} {{ p.category }}"
          />
        </td>
        <td>{{ p.brand }}</td>
        <td>{{ p.category }}</td>
        <td>{{ p.quantity }}</td>
        <td>{{ p.unitPrice | currency }}</td>
        <td>{{ p.unitPrice * p.quantity | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <strong> {{ shop.order.subtotal | currency }}</strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <a
    class="btn btn-success"
    *ngIf="shop.order.items!.length > 0"
    routerLink="checkout"
    >Checkout
  </a>
</div>
<hr />
